<ion-view title="Add Event" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="addEvent-form3" class="list ">
            <div class="spacer" style="width: 300px; height: 8px;"></div>
            <h2 id="addEvent-heading7" style="color:#000000;text-align:center;" class=" ">Add Event</h2>
            <div class="spacer" style="width: 300px; height: 11px;"></div>
            <label class="item item-input " id="addEvent-input10">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name of Event" ng-model="title">
            </label>
            <label class="item item-input " id="addEvent-input11">
                <span class="input-label">Location</span>
                <input type="text" placeholder="Location" ng-model="location1">
            </label>
            <label class="item item-input " id="addEvent-input12">
                <span class="input-label">Start Date</span>
                <input type="date" placeholder="" ng-model="startdate">
            </label>
            <label class="item item-input " id="addEvent-input13">
                <span class="input-label">Start Time</span>
                <input type="time" placeholder="" ng-model="starttime">
            </label>
            <label class="item item-input " id="addEvent-input14">
                <span class="input-label">End Date</span>
                <input type="date" placeholder="" ng-model="enddate">
            </label>
            <label class="item item-input " id="addEvent-input15">
                <span class="input-label">End Time</span>
                <input type="time" placeholder="" ng-model="endtime">
            </label>
            <label class="item item-input " id="addEvent-input16">
                <span class="input-label">Notes</span>
                <input type="text" placeholder="Notes" ng-model="notes">
            </label>
            <div class="spacer" style="width: 300px; height: 9px;"></div>
            <label class="item item-select " id="addEvent-select1">
                <span class="input-label">Select</span>
                <select>
                    <option>Google Calendar</option>
                    <option>iOS Calendar</option>
                </select>
            </label>
        </form>
        <a ui-sref="eventAdded" id="addEvent-button7" class=" button button-dark  button-block " ng-click="createEvent(title, location1, notes, startdate, starttime, enddate, endtime)"> Add Event</a>
    </ion-content>
</ion-view>