<ion-view title="Event Added" id="page9" class=" " hide-back-button="true">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 73px;"></div>
        <h1 id="eventAdded-heading6" style="color:#000000;text-align:center;" class=" ">Event successfully added!</h1>
        <div class="spacer" style="width: 300px; height: 38px;"></div>
        <a ui-sref="home" id="eventAdded-button17" class=" button button-dark  button-block button-outline icon-center ion-ios-home-outline" ></a>
    </ion-content>
</ion-view>
