<ion-view title="Home" id="page1" class="home">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 50px;"></div>
        <div class="spacer" style="width: 300px; height: 25px;"></div>
        <h1 id="home-heading1" style="color:#FFFFFF;font-weight:600;text-align:center;font-size:55px" class=" ">PicEvent</h1>
        <div class="spacer" style="width: 300px; height: 50px;"></div>
        <a ui-sref="addEvent" id="home-button9" class=" button button-dark  button-block icon-center ion-camera " ng-click="takePicture()"></a>
        <a id="home-button16" class=" button button-calm button-block icon-center ion-ios-photos " ng-click="getPicture()"></a>
		<img ng-src="{{user.picture}}">
    </ion-content>
</ion-view>
