<ion-view title="Logged Out" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 53px;"></div>
        <h1 id="loggedOut-heading13" style="color:#000000;text-align:center;" class=" ">You have successfully logged out.</h1>
        <div class="spacer" style="width: 300px; height: 40px;"></div>
        <a ui-sref="home" id="loggedOut-button27" class=" button button-dark  button-block ">Return to Home</a>
    </ion-content>
</ion-view>