<ion-view title="Login" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form4" class="list ">
            <div class="spacer" style="width: 300px; height: 86px;"></div>
            <h2 id="login-heading8" style="color:#000000;text-align:center;" class=" ">Google</h2>
            <ion-list id="login-list3" class=" ">
                <label class="item item-input " id="login-input15">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input16">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 11px;"></div>
            <a ui-sref="home" id="login-button22" class=" button button-balanced  button-block ">Log in</a>
        </form>
    </ion-content>
</ion-view>