@font-face {
	font-family: 'trashhand';
	src: url("TrashHand.TTF");
}

.home{
  background-image: url("../img/background.png")
}

#home-heading1{
	font-family:'trashhand';
}

#home-button9{
    font-size: 60px;
    border-radius: 10px 10px 10px 10px;
    height: 110px;
    text-align: center;
    vertical-align: middle;
    line-height: 1.75em;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}

#home-button16{
    font-size: 60px;
    border-radius: 10px 10px 10px 10px;
    height: 110px;
    text-align: center;
    vertical-align: middle;
    line-height: 1.75em;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}

#eventAdded-button17{
    font-size: 40px;
    border-radius: 10px 10px 10px 10px;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    line-height: 3em;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
